In [ ]:
import pandas as pd   #importing pandas for dataframe

1 Read the housingdata.csv file into pandas DataFrame and display first six rows of the DataFrame

In [ ]:
df = pd.read_csv("D:\Study\DSTT\housingdata.csv")  #reading data and storing in a dataframe
df

2 Display the column names and row index in separate cells.

In [ ]:
df.columns   #no of columns

In [ ]:
df.index    #indexes

3 a) How many numbers of “STATE” exist in the dataset. Hint: use shape

In [ ]:
df['STATE'].value_counts()   #each state count

b) How many unique states exist in the dataset

In [ ]:
n = len(pd.unique(df['STATE']))    #no of unique states
print(n)

4 Retrieve the list of all NaN/Null/Empty cells in the form of Boolean list

In [ ]:
df    #checking different values in dataframe

In [ ]:
df.replace('na',np.NaN, inplace=True)     #replace 'na' with NaN
df.replace('--',np.NaN, inplace=True)     #replace '--' with NaN

In [ ]:
df.isnull()        #check for null

5 Drop all rows with N/A,NA,na values in Num_Bedrooms

In [ ]:
df=df.dropna(subset='NUM_BEDROOMS')      #dropping the NaN    
df

6 Replace the NaN and String entries in Num_Bath with previous entry

In [ ]:
df['NUM_BATH']=df['NUM_BATH'].fillna(method='ffill')      #string data not converted
df

In [ ]:
df.loc[6,'NUM_BATH']=0  #as we can see in the previous data string should be converted
df

7. Replace the empty values in “SQ_FT” with the mean of the all entries.

In [ ]:
df.info()     #check data type
df['SQ_FT']= df['SQ_FT'].astype('float')     #changing to the same datatype
mean = df['SQ_FT'].mean()
df['SQ_FT'].fillna(mean, inplace=True)          #filling the mean value

8. What is the sum of SQ_FT of all entries in the dataset.

In [ ]:
sum = df['SQ_FT'].sum()      #sum
print(sum)

9. Add a new column “NUM_STORE” and with all the values as 1 for all rows

In [ ]:
df["NUM_STORE"]=1    #new column named as NUM_STORE
df

10. Create a DataFrame containing all entries of TN state only

In [ ]:
TN_df = df.loc[df.STATE=='TN',:]     #cREATING ONE DATAFRAME FROM another
TN_df

11. Create a DataFrame having SQ_FT area greater than 1000 and display the DataFrame

In [ ]:
df_SQ_FT_1000 = df.loc[df.SQ_FT>1000,:]      #separate dataframe for squarefeet> 1000
df_SQ_FT_1000

12. Create a DataFrame having only first Three columns and First Three rows

In [ ]:
df_R3_C3 = df.iloc[:3,:3]    #datfarme from first 3 rows and 3 colmns
df_R3_C3

In [ ]:
df

13. Display the state having highest average price per square foot of housing area. Hint: Average of
(TotalPrice/Sq_Ft)

In [ ]:
df['AVG_PRICE_PER_SQFT']=df['PRICE'] / df['SQ_FT']

In [ ]:
df = df.sort_values(by='AVG_PRICE_PER_SQFT', ascending=False)

In [ ]:
df.reset_index(inplace=True, drop=True)

In [ ]:
df.loc[0,'STATE']